.slick-prev {
    left: 25px;
}

.slick-next {
    right: 25px;
}

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: white;
    z-index: 1000;
    border: none;
    outline: none;
    background: transparent;
}

.slick-dots {
    position: absolute;
    bottom: 20px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    color: #fff;
}

video {
    object-fit: cover;
    width: 100%;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: white;
}

.slick-dots li button:before {
    opacity: 0.5;
    color: white;
}
